body{
    margin: 0;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* header */
.header{
    background-color: #ffffff;
    height: 174px;
    width: 100%;
}

.header-mailing {
    display: flex;
    justify-content: center;
    background-color: #f0f8ff;
    height: 29px;
    align-items: center;
}
.header_gird-search{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 102px;
}
.header-logo{
    width: 100px;
}
.header-logo-img{
    width: 100%;
}
.header-search {
    background-color: #f0f8ff;
    /* height: 52px; */
    display: flex;
    align-items: center;
    width: 750px;
}
.header-search-input{
    width: 100%;
    border: none;
    opacity: none;
    padding: 0 20px;
    background-color: #f0f8ff;
}
.header-search-input:focus{
    outline:0;
}
.header-search-btn {
    padding: 15px;
}
.header-search-btn:hover{
    cursor: pointer;
}
.header-action-btn{
    
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0 8px;
}
.header-action-a{
    color: #000;
}

.item-information-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.item-information-li{
    margin: 0 14px;
    list-style: none;
     
}
.item-information {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-information-a{
    text-decoration: none;
    color: #161616;
    font-size: 1.1rem;
    padding-bottom: 18px;
    position: relative;
}
.item-product-child{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1250px;
    
}

.item-container {
    float: left;
}
.row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
   
}

.item-product-child-ul {
    
    list-style-type: none;
}

.item-product-child-li{
    padding-top: 8px;
    color: #000;
}

.sub-mega {
    background-color: #ffffff;
    border-top: 2px solid #fdfbfb;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 9999;
    padding: 40px 0px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    display: none;
    top:190px;
    animation: sub-megaGrowth ease-in .3s ;
}

.item-product-child-a{
    text-decoration: none;
    color: #161616;
}

.item-text{
    text-decoration: none;
    color: #0f0f0f;
    font-weight:900;
}

.eke{
    border-bottom: 1px solid rgb(163, 163, 163);
    height: 12px;
    width: 280px;
    margin-bottom: 12px;
}

.item-information-li-product:hover .sub-mega{
    display: block;
    height: 290px;

}
.sub-mega ::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 50px;
    top: -20px;
}

@keyframes sub-megaGrowth{
    from{
        opacity:0 ;
        transform: translateY(-2%);
    }
    to{
        opacity:1 ;
        transform: translateY(1);
    }
}

.item-information-a:hover, .item-product-child-a:hover, .item-text:hover,.collection-a:hover,.promotion-a:hover{
    color: #ff3c00;
  
}
.item-information-a:hover {
    border-bottom:1px solid #ff3c00 ;
}



.collection {
    position: absolute;
    width: 150px;
    background-color: #fdfbfb;
    animation: sub-megaGrowth ease-in .3s ;
    display: none;
    top:190px;
}

.collection::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10px;
    top: -10px;
  
}
.eke-header{
    border-top:1px solid #f0f4f7 ;
}

.collection-ul{
    padding: 6px;
    list-style-type: none;
}

.collection-li{
    padding: 10px;
}
.collection-a{
    text-decoration: none;
    color: #0f0f0f;
    margin: 6px 0;
}
.eke-collection{
    border-top:1px solid #e4edf5 ;
 
}
.item-information-collection:hover .collection{
    display: block;
    height: 60px;
}

.promotion{
    position: absolute;
    background-color: #fdfbfb;
    width: 250px;
    display: none;
    animation: sub-megaGrowth ease-in .3s ;
    top:190px;
    z-index: 50;
}
.promotion::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10px;
    top: -10px;
    
}

.promotion-ul{
    list-style-type: none;
    padding: 10px;
    margin: 0;
}
.promotion-a{
    color: #0f0f0f;
    text-decoration: none;
    
}
.promotion-li{
    padding: 10px 0;
}

.item-information-promotion:hover .promotion{
    display: block
}

/* navbar */
.navbar_container{
    margin-top: 12px;
}
.navbar{
    max-width: 1252px;
    margin:auto ;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #f0f8ff;
    
}
.navbar-span{
    padding: 5px;
    font-size: 14px;
}
.home-page{
    text-decoration: none;
    color: #161616;
    font-size: 14px;
    padding-left: 14px;
}

.navbar-iteam{
    max-width: 1252px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.navbar-iteam-select{
    border: none;
    border-bottom: 1px solid;
    height: 34px;
}
.navbar-iteam-select:focus{
    outline: 0;
}


.product{
    max-width: 1252px;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}

.product-img{
    height: 356px;
    
}

.product-row-1{
    display: flex;
    flex-direction: column;
    padding: 16px;
   
}

span.product-name {
    text-align: center;
    margin-top: 20px;
    font-size: .9rem;
}

.product-container {
    text-align: center;
    font-size: .8rem;
    margin-top: 8px;
}
.product-span-new {
    color: #ff0000;
    font-size: .9rem;
    padding: 0 8px;
}
.span-d {
    font-size: 0.7rem;
    position: absolute;
}
.product-sale{
    background: rgba(0, 0, 0, 0) url(https://360boutique.vn/wp-content/themes/360boutique/img/new-tag-png-4.png) repeat scroll 0 0;
    color: #ffffff;
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 53px;
    left: 0px;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0px;
    width: 55px;
    z-index: 10;
    
}

.product-gird-row-1 {
    display: flex;
}
.product-gird-row-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.change-page-ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.change-page-a{
    text-decoration: none;
    color: rgb(168, 168, 168);
    padding: 0 8px;
    margin-top: 30px;
}

/* foodter */
.fooder{
    width: 100%;
    height: 500px;
    
}

.fooder-sign-up-for{
    height: 76px;
    background-color: #f0f8ff;
}
.fooder-sign-up-for-container {
    max-width: 1250px;
    margin: auto;
    display: flex;
    height: 100%;
    align-items: center;
}
i.fas.fa-envelope-open-text {
    padding-right: 8px;
    font-size: 18px;
}

.fooder-search{
    min-width: 612px;
    height: 44px;
    margin: 0 10px;
    display: flex;
    background-color: #f0f4f7;
}
.fooder-search-input{
    width: 100%;
    border: #ffffff;
    padding:0 10px;
    border-radius: 9px 0px 0px 9px;
}

.fooder-search-input:focus{
    outline:0;
}

.fooder-support{
    margin: 0 50px;
}

.fooder-register {
    width: 100px;
    height: 100%;
    background-color: #000000;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 9px 9px 0px;
}
.fooder-register {
    text-decoration: none;
    color: #ffffff;
    padding: auto;
    z-index: 1;
    
}
.fooder-sign-up-btn {
    margin-right: 40px;
}
i.fas.fa-phone-square-alt {
    font-size: 18px;
}



.fooder-register:hover {
    color: #000;
    background-color: #ffffff;
    border-bottom: 1px solid;
   
    border-right: 1px solid;
}

.thank-kiu{
    display: flex;
    justify-content: space-between;
    max-width: 1250px;
    margin: auto;
}


